* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #9fc5f8;
}

nav {
    width: 1000px;
    display:flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    color: white;
}

nav ul {
    width: 40%;
    display:flex;
    list-style:none;
    justify-content: space-evenly;
}

nav ul li a {
   text-decoration: none;
   color: white; 
}

/* nav ul li a:visited {
    color: blue;
} */

main {
    width: 1000px;
    margin: 0 auto;
}

.sanjose {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}

.row {
    display:flex;
    margin-top: 15px;
}

.dia {
    flex: 1;
    background-color: lightgray;
    /* height: 100px; */
    margin-right: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dia.ultimo {
    margin-right: 0;
}

.dia img {
   width: 100px;
   border-radius: 50%; 
   margin-bottom: 15px;
}

.dia h2 {
    margin-bottom: 15px;
}

.dia p {
    margin-bottom: 15px;
}

.temperaturas {
    display: flex;
    justify-content: space-around;
}

.tempMax {
    color: red;
}

.tempMin {
    color: blue;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.cookie {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    background-color: lightgrey;
    border: 2px solid black;
    justify-content: space-around;
    align-items: center;
}

footer img {
    margin-right: 15px;
    margin-left: 15px;
}

footer .text {
    margin-right: 15px;
}